
html, body {
	width: 99%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden; 
}
.minimap {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.griddy{
	padding: 0px;
}

ul {
	padding: 0px;
	margin: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	width: 100%;
	height: 100%;
	background: #000;
	/*border: .2em solid #91a7ff;*/
}

li {
	list-style-type: none;
	background: #000;
	box-sizing: border-box;
	border: solid lightgreen 1px;
}

.playerOnMap{
	position: absolute;
}

.enemy{
	position: absolute;
}

#player{
	position: absolute;
	left: 50%;
	bottom: 40px;
}

#start{
	position: absolute;
	alignment: center;
}

#life{
	position: absolute;
	bottom: 90%;
}

#cross{
	position: relative;
}

#background{
	position: relative;
	background: url(Assets/bg.jpg);
}

#screen{
	position: absolute;
	height: 100%;
	width: 100%;
}

.Asteroid{
	position: absolute;
	background-image: url(Assets/asteroid.png);
}
	
.Boss{
	position: absolute;
	background-image: url(Assets/boss.png);
}
	
.Casual{
	position: absolute;
	background-image: url(Assets/casual.png);
}
